body {
    display: flex;
    flex-direction: column;
    padding-left: 320px;
    padding-right: 320px;
    margin: 0;
}

.header, .SNP_container, .RI_container, .quote, .CTA_main.container, 
.CTA_Sign_up_container, .footer {
    padding-left: 190px;
    padding-right: 190px;
}

.header, .SNP_container {
    background-color: #1F2937;
    color: #F9FAF8;
}
.header {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight:bold;
}

.links {
    display: flex;
    justify-content: end;
    list-style-type: none;
    gap:20px;
    color: #E5E7EB;
}

.SNP_container {
    display: flex;
    padding-top: 90px;
    padding-bottom: 90px;
    flex-shrink:auto;
}
.sign_up_container {
    flex-basis: 100%;
}

.Main_title {
    font-size: 48px;
    font-weight: bolder;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    padding-right:35px;
}

.picture_container {
    background: #708090;
    display:flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882F6;
    padding: 7px;
    padding-left:25px;
    padding-right:25px;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    border:0px;
    margin-top: 10px;
    font-size: 15px;
    
}